:root {
  --main-color: #ffffff;
  --secondary-color: #2196f3;
  --background-footer: #2f303a;
  --background-section: #f5f4fa;
  --primary-text-color: #212121;
  --seconary-text-color: #757575;
  --icon-color: #afb1b8;
}

body {
  background-color: var(--main-color);
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* ======START HEADER========= */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header a {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--secondary-color);
}

.contact-number {
  margin-left: 50px;
}

.contact-list-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--seconary-text-color);
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--secondary-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-icon:hover,
.contact-icon:focus {
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.logo-studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

/* ========END HEADER========= */
/* =====START HERO======= */
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgimagehero-min.jpg);
  background-size: cover;
  background-color: var(--background-footer);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}

.modal-button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  margin-top: 30px;
  padding: 10px 32px 10px 32px;
  min-width: 200px;

  color: var(--main-color);
  background: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: hidden;
  border-radius: 4px;
  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ======ENd HERO===== */

/* ==1 SECTION=== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.features-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features-list-content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--seconary-text-color);
}

.features-list {
  display: flex;
  align-items: stretch;
}

.features-list-title {
  margin-bottom: 10px;
}

.features-list-item {
  width: 270px;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-img {
  width: 270px;
  height: 120px;
  background-color: var(--background-section);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/* ===2 SECTION=== */

.benefits-section {
  padding-top: 0;
}

.benefits {
  margin-bottom: 50px;
}

.benefits-list {
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.benefits-list:not(:last-child) {
  margin-right: 30px;
}

/* =====3 section==== */

.section-secondary {
  background-color: var(--background-section);
}

.team-list-content {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}
.team-list-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--seconary-text-color);
}

.team-name {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list-item {
  background-color: var(--main-color);
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--secondary-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--main-color);
}

.social-list-icon {
  fill: var(--icon-color);
}

/* ===clients section=== */

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.client-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 30px; */
}

.client-list-item:not(:last-child) {
  margin-right: 30px;
}

.client-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
}

.client-list-link:hover,
.client-list-link:focus {
  border-color: var(--secondary-color);
}
.client-list-link:hover .client-list-icon,
.client-list-link:focus .client-list-icon {
  fill: var(--secondary-color);
}

.client-list-icon {
  fill: var(--icon-color);
}

/* =====footer==== */

.footer {
  background: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-studio-footer {
  color: var(--main-color);
}

.adress-list .link:hover,
.adress-list .link:focus {
  color: var(--secondary-color);
}

.adress-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.adress-mail,
.adress-number {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.adress-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-social-list-name {
  color: var(--main-color);
  margin-bottom: 20px;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--secondary-color);
}

.footer-social-list-link:hover .social-list-icon,
.footer-social-list-link:focus .social-list-icon {
  fill: var(--main-color);
}

.footer-social-list-icon {
  fill: var(--main-color);
}

/* ====portfolio main==== */

.projects-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px 6px 22px;

  border-style: hidden;
  border-radius: 4px;
  color: var(--primary-text-color);
}

.projects-list-button:active,
.projects-list-button:hover,
.projects-list-button:focus {
  color: var(--main-color);
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-projects-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--seconary-text-color);
}

.projects-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-projects-item {
  margin: 15px;
  flex-flow: calc((100%-90px) / 3);
}

.portfolio-projects-item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-projects-content {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-projects-title {
  margin-bottom: 4px;
}
